<template>
    <div class="courComponent">
        {{text}}
    </div>
</template>
<script>
export default {
    props:["text"]
    
}
</script>

<style scoped>
    .courComponent{
        padding: 15px 20px;
        width: 100%;
        border: 1px #ececec solid;
        box-shadow: #b4b2b2e0 2px 4px 8px;
        color: #757575;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        margin-bottom: 15px;
    }

</style>