<template>
    <div class="cour">
        <!-- this is the colored background section of this component -->
        <div class="cour__coloredBg">
            <div class="cour__coloredBg__text">
                <div>
                    Les raisonnement par recurrence
                </div>
            </div>
            <div class="cour__coloredBg__imageHolder"></div>
        </div>

        <!-- this is the section under the colored backround section which is wrapped into a div -->
        <div class="chapters">
            <div class="chapters__item">
                <cour2-component text="video"></cour2-component>
                <cour2-component text="Fitche de cours"></cour2-component>
            </div>

            <div class="chapters__item">
                <cour2-component text="Fitche de Revision"></cour2-component>
                <cour2-component text="Excercise"></cour2-component>
            </div>


        </div>

    </div>

</template>
<script>
import Cour2Component from "./cour2Component.vue"
export default {
    components:{
        Cour2Component
    }
    
}
</script>

<style scoped>
.cour{
    padding: 5px;
}
.cour__coloredBg{
    background: #009894;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius:0 0 10px 10px;
    color: white;
}
.cour__coloredBg__imageHolder{
    width: 40px;
    height:40px;
    background: white;
}
.cour__coloredBg__text div:first-child{
    font-size: 20px;
    font-weight: 600;
}
.chapters{
    padding: 5px 20px;
    color: #757575;
}

.chapters__item{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
</style>