<template>
    <div class="cour2Component">
        <div class="icon_holder">
            <span>icon</span>
        </div>
        <div>{{text}}</div>
        
    </div>
</template>
<script>
export default {
    props:["text"]
    
}
</script>

<style scoped>
    .cour2Component{
        padding: 15px 20px;
        width: 49%;
        border: 1px #ececec solid;
        box-shadow: #b4b2b2e0 2px 4px 8px;
        color: #757575;
        font-size: 20px;
        font-weight: 700;
        border-radius: 5px;
        margin-bottom: 15px;
        display: flex;
    }
    .icon_holder{
        width: 30%;
    }
    .icon_holder span{
        width: 40px;
        height: 40px;
        background: #009894;
        display: inline-block
    }

</style>