<template>
    <div class="cour">
        <!-- this is the colored background section of this component -->
        <div class="cour__coloredBg">
            <div class="cour__coloredBg__text">
                <div>
                    Mathematics
                </div>
                <div>
                    06 Lessons | 251 Quizes
                </div>
            </div>
            <div class="cour__coloredBg__imageHolder"></div>
        </div>

        <!-- this is the section under the colored backround section which is wrapped into a div -->
        <div class="chapters">
            <div class="chapters__item">
                <h5>
                    Chapitre 1
                </h5>
                <h5 class="blacktext">
                    Les suites
                </h5>

                <cour-component text="Les raisonnement par recurrence"></cour-component>
                <cour-component text="Les raisonnement par recurrence"></cour-component>
                <cour-component text="Les raisonnement par recurrence"></cour-component>
            </div>

            <div class="chapters__item">
                <h5>
                    Chapitre 1
                </h5>
                <h5 class="blacktext">
                    Les suites
                </h5>

                <cour-component text="Les raisonnement par recurrence"></cour-component>
                <cour-component text="Les raisonnement par recurrence"></cour-component>
                <cour-component text="Les raisonnement par recurrence"></cour-component>
            </div>


        </div>

    </div>

</template>
<script>
import CourComponent from "./courComponent.vue"
export default {
    components:{
        CourComponent
    }
    
}
</script>

<style scoped>
.cour{
    padding: 5px;
}
.cour__coloredBg{
    background: #009894;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius:0 0 10px 10px;
    color: white;
}
.cour__coloredBg__imageHolder{
    width: 40px;
    height:40px;
    background: white;
}
.cour__coloredBg__text div:first-child{
    font-size: 20px;
    font-weight: 600;
}
.chapters{
    padding: 5px 20px;
    color: #757575;
}
.chapters h5{
    font-size: 25px;
    font-weight: 700;
}
.blacktext{
    color: black;
}
.chapters__item{
    margin: 40px 0;
}
</style>