<template>
    <!-- <div class="row">
        <div class="col-sm-12">
             <h3>Quote Added</h3>
            <div class="progress">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
                    :style="{width: (quoteCount/maxQuotes) * 100 + '%'}">
                        {{quoteCount}} / {{maxQuotes}}
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="headerHolder">
        <div class="headerInvisible">

        </div>
        <div class="headerVisible">
            <div class="logo">
                <img src="../assets/logo1.png" alt="">
            </div>
            <div class="searchBar">
                <input type="text" placeholder="search">
                <span>x</span>
            </div>
            <div class="profile">
                <div>
                    <a href="#">title</a>
                    <a href="#">title</a>
                    <a href="#">title</a>
                </div>
                <div>
                    <span>
                        Denis Wane
                    </span>
                    <div class="profilePic">
             
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        // props:['quoteCount', 'maxQuotes']
    }
</script>
<style scoped>
    .headerHolder{
        position: relative;
        width: 100%;
        background: #ffffff;
    }
    .headerInvisible{
        position: absolute;
    }
    .headerVisible{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        min-width: 15%;
        /* border: 1px red solid; */
          display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .logo img{
        width: 150px;
        height: 50px;
    }
    .searchBar{
        width: 50%;
        /* border: 1px red solid; */
          display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
      .searchBar span{
        position: absolute;
        right: 2%;
    }
    .searchBar input{
        border-radius: 900px;
        background: #eeeeee;
        border: transparent;
        width: 100%;
        outline:none;
        padding: 7px 15px;
    }
    .profile{
         min-width: 25%;
        /* border: 1px red solid; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
       .profile div:nth-child(1){
        height: 40px;
        display: flex;
        
    }
     .profile div:nth-child(1) a{
        height: 40px;
        display: flex;
        padding: 10px;
        
    }
       .profile div:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
        .profile div:nth-child(2) span{
        padding: 10px;
        
    }
    .profile .profilePic{
        border-radius: 900px;
        width: 40px;
        background: green;
        height: 40px;
        
    }

    @media(max-width: 700px){
         .headerVisible{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .searchBar{
        width: 90%;
        margin: 0 auto;
    }
    }

</style>