<template>
    <div class="home">
      <div class="home_first">
        <div class="image">image container </div>
        <div class="text">
          <h3>text</h3>
          <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga,
            repellendus rerum dignissimos sed at commodi explicabo natus soluta
            atque nostrum laboriosam optio error molestias nam itaque sunt
            harum, expedita obcaecati in nisi perspiciatis aut eum numquam?
            Explicabo nobis repellat cum! Fuga, harum dolor. Consequatur,
            tempore officiis tenetur quidem dolores vel?
          </div>
          <div class="btn">
              <div>
                  <div>image</div>
                  <div class="header">
                      <span class="h4">Cour</span>
                      <div>Le raisonnement pa recurence</div>
                  </div>
              </div>
              <div class="nextIcon">></div>
          </div>
        </div>
      </div>



        <div class="home_second">
            <h4>Lives</h4>
            <div class="liveObjects">
                <live-object></live-object>
                 <live-object></live-object>
                  <live-object></live-object>
            </div>
        </div>

        
        <div class="home_third">
            <h4>Mes Matieres</h4>
            <div>
              <subject-object></subject-object>
              <subject-object></subject-object>
              <subject-object></subject-object>
              <subject-object></subject-object>
              <subject-object></subject-object>
              <subject-object></subject-object>
              <subject-object></subject-object>
            </div>
       
        </div>
    </div>
</template>
<script>
import LiveObject from '../components/LiveObject.vue'
import SubjectObject from '../components/SubjectObject.vue'

export default {
     components:{
      LiveObject,
      SubjectObject
  }
}
</script>
<style scoped>
.home {
  width: 100%;
  /* border: 1px solid red; */
  background: white;
  padding: 10px;
  border-radius:10px;
}
.nextIcon{
  border: 2px solid #ff8d10; 
    color:#ff8d10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    width:20px;
    height:20px;
}
.home .home_first{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width:100%;
}
.home .home_first h3{
    padding-top:0;
    margin-top:0;
}
.home_first .image{
    width: 250px;
    display: flex;
    justify-content: center;
}

.home .text .btn{
    border: 1px solid gray; 
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: home;
    padding: 10px;
    box-shadow: #949494 2px 4px 2px;

}
.home .header div{
  display:flex;
  flex-wrap: wrap;

}
.home .btn div:nth-child(1){
    display: flex;

}
.btn .header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     margin-left: 10px;
}
.btn .h4{
    text-align: left;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}
/* .btn div{

} */
.home .btn .nextIcon{
    width:25px;
    height:25px;

}

.text{
    width:50%;
}
.liveObjects{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* this is the styling for the container with subjects and stats on them */
.home_third{
  margin-top: 30px;
}
.home_third div{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
  /* padding:0 10px; */
}
@media(max-width: 1000px){
  .text .btn div:nth-child(1){
    flex-direction: column;
  }
  
}


@media(max-width: 830px){
  .home_first{
  flex-direction: column;
}
.home_first .text{
    width:100%;
}

.liveObjects{
  justify-content: center;
}
.home_third div{
  justify-content: center;
}
}

@media(max-width: 700px){

.home{
  width:100%;
  margin-bottom: 10px;
}
.home_first{
  flex-direction: column;
}
.home_first .text{
    width:100%;
}

}

@media(max-width: 477px){
  .home .liveObjects{
    justify-content: center;
  }
  .home_third div{
    justify-content: center;
  }
  /* .center .btn .h4{
    font-size: 14px;
  } */
  
}

@media(max-width: 332px){
  .home .btn{
    font-size: 12px;
  }
  .home .btn .h4{
    font-size: 14px;
  }
  
}

</style>
