<template>
    <div class="mainElement">
        <div class="image"></div>
        <div class="content">
            <div>
                Take exams in mathematics at 100 points
            </div>
            <div>
                <span></span>
                <span>00.00.00</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        
    }
</script>

<style scoped>
    .mainElement{
        width: 200px;
        box-shadow: #949494 2px 4px 2px;
        border-radius: 0 0 10px 10px;
        margin: 0 10px 10px;
    }
    .image{
        height:100px;
        background:#093669;
        border-radius: 10px 10px 0 0;
    }
    .content{
        padding: 10px;
        border-radius: 0 0 10px 10px;
    }
    .content div:nth-child(2) span{
        color: #ff8500;
    }
    .content div:nth-child(2) span:nth-child(1){
        border: 1px solid #ff8500;
        width: 13px;
        height: 13px;
        border-radius: 1000px;
        display: inline-block
    }
           @media(max-width: 476px){
         .mainElement{
        width: 80%;
        margin-right:0;
    
    }
 
    }
</style>