<template>
  <div class="Maincontainer">
    <app-header></app-header>
      <div class="mainBody">
    <!-- this is the left side of the screen -->
    <div class="leftSide">
      <div class="top">
        <div class="top__child"> 
          <div class="top__child__image">
            image
          </div>
          <div class="top__child__details">
            <div>
              1022e
            </div>
            <div>
              1256pts
            </div>

          </div>
        </div>
        <button>MES PROGRES</button>
      </div>

    <!-- the second white container on the leftsidebar -->
      <div class="bottom">
        <div class="bottom__firstchild">
         <div>
            <span></span>Annales
          </div> 
          <div class="nextIcon">
            >
          </div>
          
        </div>

        <div class="bottom__lastchild">
          <div class="eltOne">
            <div>
              <span></span> Mon Agenda
            </div> 
            <div class="eltOne__btn">
              Ajouter
            </div>
          </div>

          <div class="eltTwo">
            <span>&#60;</span>
            <div>Juin 2020</div>
            <span>&#62;</span>
          </div>

          <div class="eltThree">
            <h5>Aujourd'hui</h5>
            <sidecategory-item></sidecategory-item>
            <sidecategory-item></sidecategory-item>
          </div>

          <div class="eltFour">
            <h5>Demain</h5>
            <sidecategory-item></sidecategory-item>
          </div>

         
        </div>
      </div>
    </div>

  
    <!--======================================================================================================
      =======================================================================================================
        **this is the center of the screen and this center element will actually be madeof a router view**
     =======================================================================================================
     =======================================================================================================-->
    <div class="center">
      <!-- <home></home> -->
      <!-- <cour2></cour2> -->
      <cour></cour>
    </div>

    <!-- this is the right side of the screen -->
    <div class="rightSide">
      <div class="rightSide__top">
          <span></span>
        
          <div>
            Questions - Responses
          </div>
      </div>

      <div class="rightSide__bottom">
        <div class="rightSide__bottom__eltOne">
            <div>Les plus partinentes
              <span>v</span>
            </div> 
            <div>
              Ajouter
            </div>
        </div>

         <div class="rightsibeWrapper">
            <right-sidebar-component></right-sidebar-component>
            <right-sidebar-component></right-sidebar-component>
            <right-sidebar-component></right-sidebar-component>
            <right-sidebar-component></right-sidebar-component>
         </div>
               <button>Voir plus</button>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import Header from './Header.vue'
import SidecategoryItem from './SidecategoryItem.vue'
import RightSidebarComponent from './rightSideBarComponent.vue'
import Home from './Home.vue'
import Cour from './Cours.vue'
import Cour2 from './Cours2.vue'
export default {
  components:{
      SidecategoryItem,
      RightSidebarComponent, 
      'app-header': Header,
      Home,
      Cour,
      Cour2
  }
};
</script>

<style scoped>
.Maincontainer{
  background: #009894;
}
.mainBody {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background: transparent;
  width: 100%;
  margin-top: 1%;
}
.nextIcon{
  border: 2px solid #ff8d10; 
    color:#ff8d10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    width:20px;
    height:20px;
}
.leftSide {
  width: 18%;
  /* border: 1px solid red; */
}
.leftSide .top{
  margin-bottom: 10px;
  background: white;
  padding: 10px;
  border-radius:10px;
  /* width: 18%; */
  /* border: 1px solid red; */

}
.leftSide .top button{
  width: 100%;
  color: white;
  background: #ff8500;
  padding: 5px 0;
  border-radius: 100px;
  outline: none;
  border: transparent;
}
.top__child{
  display: flex;
  /* justify-content: space-between; */
}
.top__child__image{
  width: 70px;
  display: flex;
  justify-content: center;
}
.top__child__details div:nth-child(1){
  color: #158eda;
}
.top__child__details div:nth-child(2){
  color: #009894;
  font-size: 30px;
}

.leftSide .bottom{
  /* width: 18%; */
  background: white;
  border-radius:10px;
  
}
.bottom__firstchild{
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.bottom__firstchild span, .bottom__lastchild .eltOne span{
  width:20px;
  margin-right: 8px;
  height: 12px;
  display: inline-block;
  border-bottom: 1px solid gray;
  background: #ff8500;
}
.bottom__lastchild{
  padding: 10px;
  width: 100%;
}
.bottom__lastchild .eltOne{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.eltOne__btn{
  background: #ff8500;
  padding: 2px 15px;
  margin:auto 0;
  font-size: 12px;
  color: white;
  border-radius:20px ;
}
.bottom__lastchild .eltTwo{
  width: 100%;
  display: flex;
  justify-content: space-between;
   border-radius:20px ;
   border: 1px solid #009894;
   margin: 10px 0;
  padding: 2px 7px;
  font-size: 12px;

}
.bottom__lastchild .eltThree{
  margin-bottom: 10px;
}
.bottom__lastchild .eltFour{
  margin-bottom: 10px;
}

/* this is where the styling for the middle blog starts */
.center {
  width: 60%;
  /* border: 1px solid red; */
  background: white;
  padding: 10px;
  border-radius:10px;
}

.rightSide {
  border-radius:10px;
  width: 18%;
  height: 0%;
  /* border: 1px solid red; */
  background: white;
}
.rightSide__top{
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
}
.rightSide__top span{
  width: 30px;
  height: 20px;
  background: blue;
  display: inline-block;
  margin-right: 10px;
}
.rightSide__bottom{
  padding: 10px;

}
.rightSide__bottom__eltOne{
  display: flex;
  justify-content: space-between;
 margin-bottom:10px ;
}
.rightSide__bottom__eltOne span{
  color: #ff8500;
}
.rightSide__bottom__eltOne div:nth-child(2){
   background: #ff8500;
  padding: 2px 15px;
  margin:auto 0;
  font-size: 12px;
  color: white;
  border-radius:20px ;
}
.rightSide__bottom button{
   background: #ff8500;
  padding: 8px 0;
  font-size: 12px;
  color: white;
  border-radius:20px ;
  width:100%;
  outline: none;
  border: transparent;
}

.rightsibeWrapper{
  max-height:70vh;
  overflow-y: scroll;
  margin-bottom: 15px;
}

/* @media (max-width: 1250px){
  .rightSide__bottom__eltOne{
  flex-direction: column;
}

} */
@media(max-width: 1000px){

  .header div{
    
      vertical-align:top;
         display:inline-block;
         width: 30%;
  }
  
}

@media(max-width: 830px){
.center{
  width:40%;
}
.leftSide{
  width: 28%;
}
.rightSide{
  width: 28%;
}
  
}

@media(max-width: 700px){
  .mainBody{
    padding-left:10px;
    padding-right:10px;
  flex-direction: column ;
   display: flex;
  justify-content: space-evenly;
  background: transparent;
  width: 100%;
  margin-top: 1%;
}
.leftSide{
  width:100% ;
  margin-bottom: 10px;
}
.center{
  width:100%;
  margin-bottom: 10px;
}

.rightSide{
  width:100%;
}
}

</style>
