<template>
    <div class="rsibebarHolder">
        <div class="circular">
            <span></span>
        </div>
        <div class="content">
            <div class="content__left">
                
                <div class="first_row">Desc: Comment rediger un plan de dissertationde Francais?</div>
                <div class="second_row">Rechercher une resource / Primaire /cm ...</div>
                <div class="last_row">
                    <span>img</span>
                    <span>Desireee</span> - Le 10 availl 2020 a 10:24:12 - <span>100 Rep</span>

                </div>
            </div>
            <div class="right">
                <div>
                    <span></span>
                    <span>10</span>
                </div>
                <div>
                    <span></span>
                    <span>10</span>
                </div>
            </div>
        </div>
        
        
    </div>
</template>

<script>
    export default{
        
    }
</script>

<style scoped>
    .rsibebarHolder{
        margin-bottom: 15px;

    }
    .circular span{
        width:10px;
        height: 10px;
        background: blue;
        border-radius: 20px;
        display: inline-block;
    }
     .circular{
        border-radius: 5px 5px 0 0;
        display: inline-block;
        width: 25px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px gray solid;
        border-bottom: transparent;
    }






   
 .content{
        border:1px solid #949494;
        border-radius: 0 5px 0 5px;
         box-shadow: #b4b2b2e0 2px 2px 2px;
        padding: 2px 5px;
        display: flex;
        justify-content: space-between;
    }
    .first_row{
        font-size:10px;
        font-weight: 600;
    }
    .second_row{
        font-size:10px;
    }
    .last_row{
        font-size: 9px;
    }
    .last_row span:nth-child(1){
        min-width:15px;
        min-height: 15px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        background: turquoise;
    }
    .last_row span:nth-child(2){
        color: #009894;
    }
    .last_row span:nth-child(3){
        color: #ff8500;
    }
    .right{
        display: flex;
        flex-direction: column;
    }
    .right span:nth-child(1){
        display: block;
        width:10px;
        height: 10px;
        background: turquoise;
    }
     .right span:nth-child(2){
         font-size: 7px;
    }
</style>