<template>
    <div class="side_bar_holder">
        <div>
            <span>10h30</span>
            <span>category</span>
        </div>
        <div>Desc: Comment rediger un plan de dissertationde Francais?</div>
        <div>Title: Lire mon courd de Francais</div>
        
    </div>
</template>

<script>
    export default{
        
    }
</script>

<style scoped>
    .side_bar_holder{
        padding:5px 10px;
        box-shadow: #b4b2b2e0 2px 2px 2px;
        border-radius: 5px;
        border:1px solid #949494;
        font-size: 11px;
        margin-bottom: 10px;
    }
    .side_bar_holder span:nth-child(1){
        color: #ff8500;
        margin-right: 8px;
    }
    .side_bar_holder span:nth-child(2){
        border:1px solid #ff8500;
        color: #009894;
        border-radius: 10px;
        padding:1px 5px; 
    }
</style>