<template>
    <div class="mainElement">
        <div class="upper">
            <div>

            </div>
            <div>
                Mathematics
            </div>
        </div>
        <div class="lower">
            <div class="lower__row1">
                <div class="stats">
                    <div>
                        <span></span>
                        120
                    </div>
                    <div>Cours</div>
                </div>
                <div class="stats">
                    <div>
                        <span></span>
                        120
                    </div>
                    <div>Corrections</div>
                </div>
                <div class="stats">
                    <div>
                        <span></span>
                        120
                    </div>
                    <div>Lessons</div>
                </div>
                <div class="stats">
                    <div>
                        <span></span>
                        120
                    </div>
                    <div>Pascours</div>
                </div>
            </div>
            <div  class="lower__row2">
                <button>Continuer</button>
                <button>Commencer --></button>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        
    }
</script>

<style scoped>
    .mainElement{
        width: 200px;
        box-shadow: #949494 2px 4px 2px;
        border-radius: 10px 10px;
        margin: 0 20px 20px 0;
    }
    .upper{
        display:flex;
        width:100%;
        background:#9c78eb;
        padding: 10px;
        color: white;
        align-items: center;
        border-radius: 10px 10px 0 0;
        
    }
    .upper div:nth-child(1){
        height:30px;
        width:30px;
        background:#fff;
        border-radius: 5px;
        margin-right: 10px;
        align-items: center;
    }
    
    .lower{
        padding: 10px;
        border-radius: 0 0 10px 10px;
    }
    .lower__row1{
        display: flex;
        font-size: 8px;
        justify-content: space-between;
    }
      .lower__row2{
        margin-top: 10px;
        display: flex;
        font-size: 8px;
    }
    button{
        outline: none;
        border-radius: 5px;
    }
    .lower__row2 button:nth-child(1){
        padding: 5px 10px;
        color: #ff8500;
        border: 1px solid #ff8500;
        font-size: 8px;
        margin-right:10px;
    }
     .lower__row2 button:nth-child(2){
        padding: 5px 10px;
        border: 1px solid transparent;
        background:#9c78eb;
        font-size: 8px;
    }
    .lower div:nth-child(2) span{
        color: #ff8500;
    }
    /* .lower div:nth-child(2) span:nth-child(1){
        border: 1px solid #ff8500;
        width: 13px;
        height: 13px;
        border-radius: 1000px;
        display: inline-block
    } */
    .stats div:nth-child(1){
        font-size: 11px;

    }
    .stats span{
        height:10px;
        width:10px;
        background: #ff8500;
        display:inline-block;
    }
       @media(max-width: 476px){
         .mainElement{
        width: 80%;
        margin-right:0;
    
    }
 
    }
</style>