<template>
    <div class="mainAppComponent">

        <app-mainbody></app-mainbody>
    </div>
</template>

<script>

    import Header from './components/Header.vue'
    import MainBody from './components/Mainbody.vue'
    export default {
        data: function(){
            return{
                Quotes:['Just a quote to see something'],
                maxQuotes:10,
            }
        },
        components:{
            'app-header': Header,
            'app-mainbody': MainBody
           
        },

        methods:{
            appendQuote(val){
                if(this.Quotes.length >= this.maxQuotes){
                    return alert('Please you have reached the maximum number of quotes allowed, if you wish to add a new quote delete an old quote first')
                }
                this.Quotes.push(val)
            },
            removeQuote(index){
                this.Quotes.splice(index, 1)
            }
        }
    }
</script>

<style scoped>
    .mainAppComponent{
        /* background: #009894; */
    }
</style>
